@use "../../../styles/mixins.scss";

.navbar{
  @include mixins.flexCenter;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 10rem;
  background: transparent;
  padding: 1rem 1.5rem;
  justify-content: space-between !important;
  color: var(--white);
  .logo{
    font-size: 1.3rem;
  }

  .nav_links{
    @include mixins.flexCenter;
    a{
      text-decoration: none;
      margin: 0 1.5rem;
      color: var(--white);
    }
  }
}

.btn{
  padding: 0.5rem 1rem;
  background: radial-gradient(circle at bottom right,rgb(95, 30, 148),rgb(153, 85, 207));;
  border-radius: 0.3rem;
}