@use "../../../styles/mixins.scss";

.navbar {
  @include mixins.flexCenter;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 10rem;
  background: transparent;
  padding: 1rem 1.5rem;
  justify-content: space-between !important;
  color: var(--white);
  transition: all 0.3s ease-in-out;
  .logo {
    font-size: 1.3rem;
  }

  .nav_links {
    @include mixins.flexCenter;
    a {
      text-decoration: none;
      margin: 0 1.5rem;
      color: var(--white);
    }
  }
}

.btn {
  padding: 0.5rem 1rem;
  background: radial-gradient(
    circle at bottom right,
    rgb(95, 30, 148),
    rgb(153, 85, 207)
  );
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: radial-gradient(
      circle at top right,
      rgb(95, 30, 148),
      rgb(153, 85, 207)
    );
  }
}

@media (max-width: 769px) {
  .navWrapper {
    position: absolute;
    width: 15rem;
    height: 100vh;
    overflow: hidden;
    top: 0;
    right: 0;
    .navbar {
      @include mixins.flexCenter;
      flex-direction: column;
      z-index: 10;
      position: absolute;
      top: 0;
      left: unset;
      right: 0;
      width: 15rem;
      height: 100vh;
      background: transparent;
      padding: 1rem 1.5rem;
      justify-content: space-evenly !important;
      backdrop-filter: blur(1rem);
      .logo {
        font-size: 1.3rem;
      }

      .nav_links {
        @include mixins.flexCenter;
        flex-direction: column;
        a {
          text-decoration: none;
          margin: 1.5rem 0;
          color: var(--white);
        }
      }
    }
    .navShow {
      transform: unset;
    }
    .navHide {
      transform: translateX(15rem);
      // right: -15rem;
    }
  }
}
