.graph {
  width: 35rem !important;
  height: 10rem !important;
}

@media (max-width: 769px) {
  .graph {
    width: unset !important;
    height: 7rem !important;
    display: none !important;
  }
}
