@use "../../../styles/mixins.scss";

.outline {
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;

  &::-moz-scrollbar {
    display: none;
  }

  .navbar {
    height: max-content;
    width: 67vw;
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }


    scrollbar-width: none;


    &::-moz-scrollbar {
      display: none;
    }
    justify-content: space-around;
    // background-color: var(--card-bg1);
    color: var(--white);
    position: fixed;
    z-index: 2;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    backdrop-filter: blur(2rem);

    .currentbids,
    .boughtitems,
    .solditems,
    .saveditems {
      font-size: 1.2rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 10rem;
      text-align: center;
      transition-duration: 0.5s;
      cursor: pointer;
    }
  }

  .cards {
    @include mixins.flexCenter;
    width: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .outline {
    overflow: visible;

    .navbar {
      // justify-content: center;
      // position: absolute;
      // background-color: red($color: #000000);
      // padding-left: 1rem;
      width: 100% !important;
      bottom: 0 !important;
      justify-content: space-between;
      gap: 0.5rem;

      .currentbids,
      .boughtitems,
      .solditems,
      .saveditems {
        font-size: 1rem;
        min-width: 25%;
        display: block;
      }
    }
  }
}

