.loginButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    circle at bottom right,
    var(--btn-bg-1),
    var(--btn-bg-2)
  );

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: radial-gradient(
      circle at top right,
      var(--btn-bg-1),
      var(--btn-bg-2)
    );
  }
  .googleLogo {
    font-size: 1.5rem;
  }
}
