@use "../../../styles/mixins.scss";

.loader {
  @include mixins.flexCenter;
  height: 100vh;
  width: 100vw;
  background: var(--black);
  color: var(--white);
  font-size: 3rem;
  p{
    animation: animate 1s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
  }
}

@keyframes animate {
  0%{
    scale: 0.8;
  }
  100%{
    scale: 1.2;
  }
}
